@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #E22128;
}
body{
    font-family: var(--sm-font);
}

/* button */
.bg-primary{
    background-color: var(--pink)!important;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

/* text color */
.text-primary{
    color: var(--pink)!important;
}

/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* header */
#header{
    background: url(../images/main_bg.jpeg)  no-repeat;
    
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: var(--pink)!important;
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* Featured */
.active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* Special Collection */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/* Offers */
#offers{
    background: url(../images/offer_f.jpeg) center/cover no-repeat;

}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    border-color: transparent!important;
}

/* about us */
#about{
    background-color: rgba(179, 179, 179, 0.05);
}

/* newsletter */
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}
#newsletter .btn:hover{
    background-color: #000;
    border-color: #000;
}

/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;

}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink)!important;
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}



/* buy it nowbutton  CSS */
.button-57 {
    position: relative;
    overflow: hidden;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    cursor: pointer;
    background: #E22128;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 20px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
    text-align: center;
  }
  
  .button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
  
  .button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }


  /* product description */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
  body {
      background-color: #eee;
      font-family: "Poppins", sans-serif
  }
  
  .card {
      background-color: #fff;
      padding: 14px;
      border: none
  }
  #lightSlider li{}
  
  .demo {
      width: 100%
  }
  
  ul {
      list-style: none outside none;
      padding-left: 0;
      margin-bottom: 0
  }
  
  li {
      display: block;
      float: left;
      margin-right: 6px;
      cursor: pointer
  }
  
  img {
      display: block;
      height: auto;
      width: 100%
  }
  
  .stars i {
      color: #f6d151
  }
  
  .stars span {
      font-size: 13px
  }
  
  hr {
      color: #d4d4d4
  }
  
  .badge {
      padding: 5px !important;
      padding-bottom: 6px !important
  }
  
  .badge i {
      font-size: 10px
  }
  
  .profile-image {
      width: 35px
  }
  
  .comment-ratings i {
      font-size: 13px
  }
  
  .username {
      font-size: 12px
  }
  
  .comment-profile {
      line-height: 17px
  }
  
  .date span {
      font-size: 12px
  }
  
  .p-ratings i {
      color: #f6d151;
      font-size: 12px
  }
  
  .btn-long {
      padding-left: 35px;
      padding-right: 35px
  }
  
  .buttons {
      margin-top: 15px
  }
  
  .buttons .btn {
      height: 46px
  }
  
  .buttons .cart {
      border-color: #ff7676;
      color: #ff7676
  }
  
  .buttons .cart:hover {
      background-color: #e86464 !important;
      color: #fff
  }
  
  .buttons .buy {
      color: #fff;
      background-color: #ff7676;
      border-color: #ff7676
  }
  
  .buttons .buy:focus,
  .buy:active {
      color: #fff;
      background-color: #ff7676;
      border-color: #ff7676;
      box-shadow: none
  }
  
  .buttons .buy:hover {
      color: #fff;
      background-color: #e86464;
      border-color: #e86464
  }
  
  .buttons .wishlist {
      background-color: #fff;
      border-color: #ff7676
  }
  
  .buttons .wishlist:hover {
      background-color: #e86464;
      border-color: #e86464;
      color: #fff
  }
  
  .buttons .wishlist:hover i {
      color: #fff
  }
  
  .buttons .wishlist i {
      color: #ff7676
  }
  
  .comment-ratings i {
      color: #f6d151
  }
  
  .followers {
      font-size: 9px;
      color: #d6d4d4
  }
  
  .store-image {
      width: 42px
  }
  
  .dot {
      height: 10px;
      width: 10px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px
  }
  
  .bullet-text {
      font-size: 12px
  }
  
  .my-color {
      margin-top: 10px;
      margin-bottom: 10px
  }
  
  label.radio {
      cursor: pointer
  }
  
  label.radio input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      pointer-events: none
  }
  
  label.radio span {
      border: 2px solid #8f37aa;
      display: inline-block;
      color: #8f37aa;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      text-transform: uppercase;
      transition: 0.5s all
  }
  
  label.radio .red {
      background-color: red;
      border-color: red
  }
  
  label.radio .blue {
      background-color: blue;
      border-color: blue
  }
  
  label.radio .green {
      background-color: green;
      border-color: green
  }
  
  label.radio .orange {
      background-color: orange;
      border-color: orange
  }
  
  label.radio input:checked+span {
      color: #fff;
      position: relative
  }
  
  label.radio input:checked+span::before {
      opacity: 1;
      content: '\2713';
      position: absolute;
      font-size: 13px;
      font-weight: bold;
      left: 4px
  }
  
  .card-body {
      padding: 0.3rem 0.3rem 0.2rem
  }


