@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #E22128;
}

body {
    font-family: var(--sm-font);
}

/* button */
.bg-primary {
    background-color: var(--pink) !important;
}

.btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

    .btn:not(.nav-btns button):hover {
        background-color: var(--pink);
        color: #fff;
        border-color: var(--pink);
    }

/* text color */
.text-primary {
    color: var(--pink) !important;
}

/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    color: var(--pink) !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* header */
#header{
    background-image: url(../Images/cover.jpg);
    
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: var(--pink)!important;
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* Featured */
.active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* Special Collection */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* Offers */
#offers {
    background: url(../images/offer_f.jpeg) center/cover no-repeat;
}

    #offers .row {
        min-height: 60vh;
    }

.offers-content span {
    font-size: 28px;
}

.offers-content h2 {
    font-size: 60px;
    font-family: var(--lg-font);
}

.offers-content .btn {
    border-color: transparent !important;
}

/* about us */
#about {
    background-color: rgba(179, 179, 179, 0.05);
}

/* newsletter */
#newsletter {
    background-color: rgba(179, 179, 179, 0.05);
}

    #newsletter p {
        max-width: 600px;
    }

    #newsletter .input-group {
        max-width: 500px;
    }

    #newsletter .form-control {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    #newsletter .btn {
        background-color: var(--pink);
        color: #fff;
        border-color: var(--pink);
    }

        #newsletter .btn:hover {
            background-color: #000;
            border-color: #000;
        }

/* footer */
footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

    footer a:hover {
        color: var(--pink) !important;
    }

/* media queries */
@media(min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}



/* buy it nowbutton  CSS */
.button-57 {
    position: relative;
    overflow: hidden;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    cursor: pointer;
    background: #E22128;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 20px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
    text-align: center;
}

    .button-57 span:first-child {
        position: relative;
        transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
        z-index: 10;
    }

    .button-57 span:last-child {
        color: white;
        display: block;
        position: absolute;
        bottom: 0;
        transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
        z-index: 100;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translateY(225%) translateX(-50%);
        height: 14px;
        line-height: 13px;
    }

    .button-57:after {
        content: "";
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        transform-origin: bottom center;
        transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
        transform: skewY(9.3deg) scaleY(0);
        z-index: 50;
    }

    .button-57:hover:after {
        transform-origin: bottom center;
        transform: skewY(9.3deg) scaleY(2);
    }

    .button-57:hover span:last-child {
        transform: translateX(-50%) translateY(-100%);
        opacity: 1;
        transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
    }


/* product description */
